<template>
  <div class="home">
    <div class="container">
       <app-table/>   
    </div>
  </div>
</template>

<script>
import AppTable from './../components/AppTable'
export default {
  name: 'Home',
  components: {
    AppTable
  }
}
</script>
<style lang="scss">
  body{
    color: #000;
    font-size: 25px;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
</style>