<template>
    <div v-if="change" class="Change_data">
        <div class="change_box">
            <div class="input_wrp">
                {{data[indexI].label}}
               <label><input :type="data[indexI].type" v-model="dataChange"></label>
            </div>            
            <button class="save" @click.prevent="Savethechange(change, $event)">
                <img src="@/assets/images/save.png" width="25px">
            </button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'AppPass',
    data(){
        return{
            dataChange: []
        }
    },
    props:{
        change: Boolean,
        index: Number,
        data: Array
    },
    computed:{
        indexI(){
            return this.index= (this.index -1)
        }
    },
    methods: {
        Savethechange(change, event){
             console.log(this.dataChange)
        }
    }
}
</script>
<style lang="scss">
.change_box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.save{
    border: none;
    background-color: transparent;
}
</style>