<template>
<div> <h3>Поисковые предпочтения</h3>
    <div class="app_search">
       
        <div class="hotel">
            <h4>Отели</h4>
            <div class="hotel_area">
              <div class="hotel_box" v-for="item in hotel" :key="item.index">
                <label>                    
                    <span class="span" :class="{active: item.check}"  @click="ActiveCheck(item.id, $event)">{{item.id}}</span>
                    <input                     
                        type="checkbox"
                        class="check"
                        :id="item.id"
                        v-model="hotel_star"
                        :value="item.id"
                    >
                </label>                              
             </div>   
            </div>
        </div>
        <div class="class">
            <h4>Класс</h4>
            <div class="class__box">
                <label  >
                    E
                    <input type="radio" :id="'1E'" value="E" v-model="Eclass" @click="Radio1">
                    <div class="correct" v-show="none1"></div>
                </label>
                <label>
                    B
                    <input type="radio" :id="'1B'" value="B" v-model="Eclass"   @click="Radio2">
                    <div class="correct" v-show="none2"></div>
                </label>
            </div>  
        </div>
        <div class="transport">
            <h4>Транспорт</h4>
            <div class="transport_box">
               <label v-for="item in transData" :key="item.index">
                    <img :src="require('@/assets/images/'+ item.img)" width="40px">
                    <input type="checkbox" :value="item.value" v-model="transport"  @click="ActiveTrans(item.id, $event)">
                    <div class="correct" v-show="item.check"></div>
                </label>
            </div> 
        </div>
    </div>
</div>
    
</template>
<script>
export default {
    name: 'AppSearch',
    data(){
        return{
            Active: false,
            hotel_star: [],
            Eclass: '',
            transport: [],
            none1: false,
            none2: false,
            hotel: [
                {id: 1, check: false}, 
                {id: 2, check: false}, 
                {id: 3, check: false}, 
                {id: 4, check: false}, 
                {id: 5, check: false}
            ],
            transData: [
                {id: 1, value: 'air', check: false, img: 'air.png'}, 
                {id: 2, value: 'train', check: false, img: 'train.png'}, 
                {id: 3, value: 'bus', check: false, img: 'bus.png'}
            ]
        }
    },
    methods:{
        ActiveCheck(id, event) {
            let i = (id-1)
            if (this.hotel[i].check == false){
                this.$set(this.hotel[i], 'check', true)                
             } else if (this.hotel[i].check == true){
                this.$set(this.hotel[i], 'check', false)
            }
  
        },
        ActiveTrans(id, event) {
            let i = (id-1)
            if (this.transData[i].check == false){
                this.$set(this.transData[i], 'check', true)                
             } else if (this.transData[i].check == true){
                this.$set(this.transData[i], 'check', false)
            }
  
        },
        Radio1() {
            this.none1= !this.none1
             this.none2= !this.none1         
        },
        Radio2() {
            this.none2= !this.none2  
            this.none1= !this.none2         
        }
    }
}
</script>  
<style lang="scss">
.app_search{
    display: flex;
    justify-content: space-between;
}
input[type="checkbox"], input[type="radio"] {
  display: none;
  visibility: hidden;
}

.hotel_box{
    & .span{
        display: flex;
        border: 1px solid rgb(175, 171, 171);
        border-radius: 5px;
        width: 25px;
        height: 25px;
        font-size: 20px;
        cursor: pointer;
        &:after{
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(./../assets/images/star.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
   }
}
.class__box {
    display: flex;
    & label{
        position: relative;
        margin-right:5px;
        display: flex;
        box-sizing: border-box;
        border: 1px solid rgb(175, 171, 171);
        border-radius: 100%;
        width: 30px;
        height: 30px;
        font-size: 25px;
        cursor: pointer;
        padding: 0 6px;
        & .correct{
            display: block;
            content: '';
            position: absolute;
            right: -5px;
            bottom: -5px;
            background-color: yellow;
            border-radius: 100%;         
            width: 15px;
            height: 15px;
            background-image: url(./../assets/images/correct.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.hotel_area{
    display: flex;
}
.active{
    background-color: rgb(180, 179, 179);
}
.transport_box{
    & label{
        margin: 0 10px;
      position: relative;  
    }    
    & .correct{
            display: block;
            content: '';
            position: absolute;
            right: -5px;
            bottom: -5px;
            background-color: yellow;
            border-radius: 100%;         
            width: 15px;
            height: 15px;
            background-image: url(./../assets/images/correct.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
}
</style>