<template>
  <div class="v-table">
    <h1>Настройки учетной записи</h1>
      <form prevent novalidate="true">
        <div
          v-for="item in data"
          :key="item.index"
          class="form_input">          
            <label :for="item.index" v-if="!item.change">
              <input :type="item.type" :id="item.index" v-model="item.model">
              {{item.label}}
            </label>
            <app-pass :index="item.id" :change="item.change" :data="data"></app-pass>
            <button :v-show="item.button" class="change" @click.prevent="ChangeData(item.id, $event)">
              <img :src="require('@/assets/images/'+item.btnimg)" width="25px">
            </button>
        </div>


        <div class="change">
          <img src="@/assets/images/change_pass.png" width="25px">
          <div class="change_pass" @click="change= !change">Сменить пароль</div>
        </div>


        <div
          v-for="item in data_email"
          :key="item.index"
          class="form_input"
        >          
            <label :for="item.index" v-if="!item.change">
              <input :type="item.type" :id="item.index" v-model="item.model" :placeholder="false">
              {{item.label}}
            </label>
            <app-pass :index="item.id" :change="item.change" :data="data_email"></app-pass>
            <button :v-show="item.button" class="change" @click.prevent="ChangeDataEmail(item.id, $event)">
              <img :src="require('@/assets/images/'+item.btnimg)" width="25px">
            </button>
        </div>


        <div class="date">
            <div
              v-for="item in radio"
              :key="item.index"
              class="form_date"
            >          
              <label :for="item.index">
                <input :type="item.type" :id="item.index" v-model="item.model" :placeholder="false">
                {{item.label}}
              </label>            
            </div>
            <button class="change">
              <img src="@/assets/images/change.png" width="25px">
            </button>
        </div>
        <app-search/>        
      </form>  
  </div>
</template>

<script>
import AppSearch from './AppSearch'
import AppPass from './AppPass'
export default {
  name: 'AppTable',
  components: {
    AppSearch,
    AppPass
  },
  data(){
    return{
      login: '',
      name: '',
      lastName: '',
      email: '',
      phone: [],
      day: {},
      Male: '',
      data:[
        {id: 1, type: 'text',  label: 'Логин', button: true, btnimg: 'change.png', model: 'login', change: false},
        {id: 2, type: 'text',  label: 'Имя', button: true, btnimg: 'change.png',model: 'name', change: false},
        {id: 3, type: 'text',  label: 'Фамилия', button: true, btnimg: 'change.png',model: 'lastName', change: false}],

      data_email: [
        {id: 1, type: 'email', label: 'E-mail', button: true, btnimg: 'change.png',model: 'email', change: false},
        {id: 2, type: 'text', label: 'Телефон', button: true, btnimg: 'change.png',model: 'phone', change: false} 
      ],
      radio: [
          {type: 'text', label: 'День рождения', model: 'day'},
          {type: 'text', label: 'Пол', model: 'Male'}
      ]
    }
  },
  methods: {
    ChangeData(id, event){
      let i = (id-1)
            if (this.data[i].change == false){
              
                this.$set(this.data[i], 'change', true)                
             } else if (this.data[i].change == true){
                this.$set(this.data[i], 'change', false)
            }
    },
    ChangeDataEmail(id, event){
      let i = (id-1)
            if (this.data_email[i].change == false){
                this.$set(this.data_email[i], 'change', true)                
             } else if (this.data_email[i].change == true){
                this.$set(this.data_email[i], 'change', false)
            }
    }

  }
  }
</script>
<style lang="scss">
.form_input{
  display: flex;
  justify-content: space-between;
}
.date{
  display: flex;
  justify-content: space-between;
}
.form_date{
  flex-basis: 50%;
}
.change{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & .change_pass{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(27, 88, 68);
  }
}
</style>
